@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo {
    border: 5px solid #142546;
    background-color: white;
    border-bottom: none;
    max-width: auto;
    height: 120px;
    padding: 10px;
}

#logo-image {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    border: 5px solid #142546;
    background: white!important; 
    padding: 0;
    width: 100%;
}

.nav-link {
    color: #142546!important;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font: 16px;
    padding-left: 20px;
}


.carousel-border {
    border: 5px solid #142546;
    border-top: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

#about-paragraph {
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin: 10px 0px 10px 0px;
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
    color: #142546;
}

.recommended-tour-divs {
    padding: 0px 10px;
    border: 5px solid #142546;
    margin: 15px;
}

.recommended-header {
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #142546;
    text-transform: uppercase;
    font-weight: bold;
    border: 5px solid #142546;
}

.recommended-header-text {
    text-align: center;
    padding: 10px 0px;
    margin: 20px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    color: #142546;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline;
}

.price-duration {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #142546;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

.recommended-tour-paragraph {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #142546;
    font-size: 12px;
    padding: 10px;
}

.footer-details {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0;
}

.footer-details p {
    font-size: 12px;
    line-height: 35px;
    font-weight: bold;
}

.footer-details p span {
    font-weight: 900;
}

footer {
    background-color: white;
    color: #142546;
    min-height: 110px;
    border: 5px solid #142546;
}

@media only screen and (max-width: 767px) {
    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .footer-details p {
        margin: 0;
        padding-top: 5px;
        font-size: 10px;
        line-height: 17px;
        padding-bottom: 5px;
    }
}

.footer-logo {
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;
}

img.col-sm {
    padding: 15px;
}

.social-icons {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 0;
}

.icons {
    color: #142546;
    padding: 0px 40px 10px 40px;
    font-size: 22px;
}

a:hover {
    color: rgb(62, 185, 173);
    text-shadow: 1px 1px rgb(62, 185, 173);
    font-size: 18px;
}

a:active {
    color: #2E8B57;
}

i:hover {
    color: rgb(62, 185, 173);
}

@media only screen and (max-width: 767px) {
    .social-icons {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

