@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.logo {
    background-color: white;
    border-bottom: none;
    width: auto;
    height: 100%;
    height: 120px;
    padding: 10px 10px 5px 10px;
}

#logo-image {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    border-top: none;
    background: white !important;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-link {
    color: #142546 !important;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.navbar-nav .nav-link {
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    border: 2px solid #142546 !important;
    margin: 10px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.carousel-caption {
    background-image: linear-gradient(0.2deg, #142546, transparent);
    right: 0%;
    left: 0%;
    bottom: 0%;
}

#about-paragraph {
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin: 10px 0px 10px 0px;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: #142546;
}

.recommended-tour-divs {
    padding: 0px 10px;
    border: 5px solid #142546;
    margin: 15px 0px;
}

.recommended-header {
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    color: #142546;
    text-transform: uppercase;
    font-weight: bold;
}

.recommended-header-text {
    text-align: center;
    padding: 10px 0px;
    margin: 20px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    color: #142546;
    font-weight: bold;
    text-transform: uppercase;
}

.price-duration {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #142546;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

.recommended-tour-paragraph {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #142546;
    font-size: 14px;
    padding: 10px;
}

.row {
    margin: 0;
}

.footer-details {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0;
}

.footer-details p {
    font-size: 12px;
    line-height: 35px;
    font-weight: bold;
}

.footer-details p span {
    font-weight: 900;
}

a.Phone-email {
    color: #142546;
    text-decoration: underline;
}

footer {
    background-color: white;
    color: #142546;
    min-height: 110px;
}

.footer-logo {
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;
}

img.col-sm {
    padding: 15px;
}

.social-icons {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 0;
}

.icons {
    color: #142546;
    padding: 0px 40px 10px 40px;
    font-size: 25px;
}

.tour-page-image {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.main-image-section {
    position: relative;
}

#tour-page-lead {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tour-page-lead h1 {
    font-family: "Lato", sans-serif;
    color: #142546;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 2px 2px rgb(62, 185, 173);
    font-weight: bolder;
}

#section-tour-nav {
    padding-bottom: 20px;
}

.tour-header {
    font-size: 2vw;
    background-color: #142546;
    color: white;
    padding: 5px 0;
}

.nav-link-text {
    background-color: rgb(62, 185, 173);
    font-size: 2vw;
    border: 2px solid #142546;
    border-radius: 20px;
}

.tour-name-header {
    height: 40px;
}

.nav-item {
    padding: 5px;
}

#one-day-tours {
    padding-top: 60px;
}

#two-day-tours {
    padding-top: 60px;
}

#three-day-tours {
    padding-top: 60px;
}

.form-section {
    padding: 10px 20px;
}

.form-section h1 {
    font-size: 12px;
    text-align: center;
    color: #142546;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgb(62, 185, 173);
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
}

form {
    height: auto;
    width: auto;
    border: 2px solid #142546;
    border-radius: 5px;
    display: inline-grid;
    padding: 5px;
    font-family: "Lato", sans-serif;
    box-shadow: 0 0 8px rgb(62, 185, 173);
    background-color: white;
}

.form-center {
    display: block;
    text-align: center;
}

input,
select,
textarea,
#form-button {
    width: 100%;
    border: 1px solid #142546;
    border-radius: 5px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
#form-button:focus {
    box-shadow: 0 0 4px rgb(62, 185, 173);
    border: 2px solid rgb(62, 185, 173);
}

select option {
    font-size: 9px;
    font-family: "Lato", sans-serif;
    color: #142546;
    background-color: white;
}

label {
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 2px;
    color: #142546;
    font-weight: bold;
    text-align: start;
}

#text-area-div {
    color: #142546;
    padding: 5px 0;
}

#text-area {
    max-height: 300px;
}

#form-button {
    width: 33.3%;
    height: auto;
    color: rgb(62, 185, 173);
    background-color: #142546;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

#form-button-div {
    display: flex;
    justify-content: center;
}

#form-button:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(62, 185, 173);
}

::placeholder {
    color: rgb(62, 185, 173);
}

#reply-body {
    padding: 40px 20px;
}

#reply {
    font-family: "Lato", sans-serif;
    color: #142546;
    text-align: center;
    font-size: 2vw;
    padding-top: 40px;
}

#reply h3 {
    padding-top: 20px;
}

@media only screen and (max-width: 381px) {
    .footer-details p {
        font-size: 2.75vw;
    }
    .icons {
        padding: 0 10px 5px 10px;
        font-size: 6vw;
    }
}

@media only screen and (max-width: 490px) {
    .nav {
        display: inline;
        text-align: center;
    }
    #section-tour-nav {
        margin: 0 40px;
    }
    .nav-link {
        font-size: 14px;
    }
    #tour-page-lead h1 {
        font-size: 3.5vw;
    }
    a.nav-link.nav-link-text {
        font-size: x-small;
    }
}

@media only screen and (max-width: 576px) {
    #about-paragraph {
        font-size: 1rem;
    }
    .tour-name-header {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 576px) {
    .tour-name-header {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 767px) {
    .social-icons {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .footer-details p {
        margin: 0;
        padding-top: 5px;
        font-size: 14px;
        line-height: 30px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {
    select option {
        font-size: 14px;
    }
    .form-section h1 {
        font-size: 2.2vw;
    }
    .recommended-tour-paragraph {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 31.333333%;
        max-width: 33.333333%;
    }
    .recommended-tour-divs {
        margin: 15px auto;
    }
    .recommended-header-text {
        font-size: 1.35vw;
    }
    .icons {
        padding: 0 20px;
        font-size: 22px;
    }
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row {
        padding: 0;
        margin: 0;
    }
    .footer-details p {
        font-size: 11px;
    }
    .form-section h1 {
        font-size: 2vw;
    }
}

@media only screen and (min-width: 1200px) {
    .tour-name-header {
        font-size: 14px;
    }
    .footer-details p {
        font-size: 14px;
    }
    .icons {
        padding: 0 40px;
        font-size: 32px;
    }
    .form-section h1 {
        font-size: 1.5vw;
    }
}

.nav-link-text:hover {
    color: white !important;
    background-color: #142546;
    text-shadow: 2px 1px rgb(62, 185, 173);
}

a:hover {
    color: rgb(62, 185, 173);
    text-shadow: 1px 1px rgb(62, 185, 173);
}

a:active {
    color: #2e8b57;
}

i:hover {
    color: rgb(62, 185, 173);
}
