@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo {
    border: 5px solid #142546;
    background-color: white;
    border-bottom: none;
    max-width: auto;
    height: 120px;
    padding: 10px;
}

#logo-image {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    border: 5px solid #142546;
    text-align: center;
}

.nav li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

.nav-link {
    color: #142546;
    letter-spacing: 2px;
    text-shadow: 1px 1px #142546;
}

